<%-include("partials/header")-%>
<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label class="form-label">Title</label>
    <input type="text" class="form-control" name="posttitle">
    <label  class="form-label">Post</label>
    <textarea name="data" class="form-control"></textarea>
  </div>
  <button  class="btn btn-primary" type="submit">publish</button>
</form>
<%-include("partials/footer")-%>